/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
font-family: 'Raleway', sans-serif;
width: 100%;
}

/* header*/

header{
height: 80px;
margin: 0 68px 45px 50px;
}
nav{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}
.menu{
border-top: solid 3px #0065FC;
padding-top: 35px;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.menu:nth-child(2){
-webkit-box-ordinal-group:5;
-ms-flex-order:4;
order:4
}
.logo{
width: 66%; 
padding-top: 25px;
}
.menu a{
text-decoration: none;
color: #0065FC;
font-weight: 700;
}
.menu:hover{
border-top: none;
}
.menu a:hover{
color: black;
}

main {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
height: 1400px;
padding: 0 35px 0 35px;
margin-bottom: 30px;
}
/*search section*/
.search_section {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: distribute;
justify-content: space-around;
height: 110px;
margin: 10px 0;
}
.search_section h1 {
font-weight: 900;
font-size: large;
margin: 10px 0 5px 0;
width: 45%;
}

.search_section p {
margin: 5px 0 10px 0;
width: 22.4%;
font-size: small;
}
.search_bar {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: start;
margin: 10px 0;
width: 33%;
}
.place{
background-color: #F2F2F2;
color: black;
text-align: center;
margin: 0;
padding: 14px 0;
font-size: 100%;
border-radius: 1.5ex 0 0 1.5ex;
width: 12.5%;
}
.button{
background-color: #0065FC;
color: white;
font-size: large;
font-weight: 900;
font-family: 'Raleway', sans-serif;
border-radius: 0 1.5ex 1.5ex 0;
margin-left: -6px;
padding: 12px 23px 12px 26px;
width: 45%;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
}
.search_mobile{
display: none;
}
.search{
font-size: large;
font-weight: 900;
color: black;   
font-family: 'Raleway', sans-serif;
margin: auto;
padding: 10px 5px 10px 5px;
width: 50%;
}
.button:hover{
background-color: #DEEBFF;
color:#0065FC;
cursor: pointer;
}
form{
width: 100%;
}
input{
border: none;
border-top: solid 2px #F2F2F2;
border-bottom: solid 2px #F2F2F2;
}


/*filters*/
.filters {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin: 10px 0 10px ;
font-size: large;
font-weight: 900;
height: 45px;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.filters_icons{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
}

.filter {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin: 0 20px 0 29px;
border: solid 3px #F2F2F2  ;
border-radius: 2em;

}
.filters h2 {
padding: 0 20px 0 0px;
font-size: large;
font-weight: 900;
margin: 14.2px 0;
}
.filter i{  
font-size: large;
}
.filter p{
padding: 9px 11px;
min-width: fit-content;
}
.filter:hover{
background-color: #DEEBFF;
cursor: pointer;
}
.icon{
width: 44px;
height: 44px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #DEEBFF;
color: #0065FC;
border-radius: 2em;  
margin: -2px;              
}
/*infos*/
.infos {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin: 10px 0;
height: 22px;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.infos i{
color: #0065FC;
font-size: 60%;
}
.icon_infos{
width: 22px;
height: 22px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: white;
border: solid 1px #F2F2F2;
border-radius: 2em;
margin: 0 20px 0px 0;       
}
.infos p{
text-align: center;
}
/*accomodations*/
#accommodations {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: 560px;
margin: 40px 0;
}
.search_result{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
width: 69%;
margin-right: 12.5px;
padding: 33px;
background-color: #F2F2F2;
border-radius: 2ex;
height: 520px;
}
.cards_1 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
height: 390px;
}
.row{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin: 13px 0;
}
.acc{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
width: 30%;
height: 180px;
margin: 3px;
background-color: white;
border-radius: 4ex;
-webkit-box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
text-decoration: none;
color: black;
font-size: 75%;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.acc h3{
font-weight: 900;
}
.hotel_description{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin-top: 10px;
-ms-flex-item-align: start;
align-self: flex-start;
}
.acc_text{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: distribute;
justify-content: space-around;
margin-left: 22px;
}
.acc h3 p .rating{
padding-left: 22px;
}
.rating_acc{
color: #0065FC;
margin-top: 5px;
margin-left: 22px;
}
.gray{
color: #a7a5a5;
}

.acc_text p{
margin: 5px 0;
}

.cards_1 a:hover{
-webkit-box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
}

.search_result .acc_img {
width: 95%;
height: 105px;
-o-object-fit: cover;
object-fit: cover;
border-radius: 3ex 3ex 0 0;
}
.lacannebiere{
background-image: url("images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
margin: 5px;
background-size: cover;
}
.port{
background-image: url("images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
margin: 5px;
background-size: cover;
}
.mouettes{
background-image: url("images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.mer{
background-image: url("images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.panier{
background-image: url("images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
margin: 5px;
background-size: cover;
}
.amina{
background-image: url("images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}


.search_result h2 {
font-size: large;
font-weight: 900;
}
.more a{
text-decoration: none;
font-weight: 900;
font-size: medium;
color: black;
}
.more a:hover{
color: #0065FC;
}

.popular {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
width: 30.5%;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin-left: 12.5px;
padding: 33px;
background-color: #F2F2F2;
border-radius: 2ex;
height: 520px;
}
.cards_2 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: 442px;
margin: 22px 0 30px 0;
}
.header{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}
.pop{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row; 
width: 100%;
height: 129px;
margin: 14px 0;
background-color: white;
border-radius:4ex;
-webkit-box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
text-decoration: none;
color: black;
font-size: 75%;
}
.pop h3{
font-weight: 900;
width: 110px;
} 
.popular_description{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: 100px;
margin: 16px 0 12px 7px;
}
.pop_text{
height: 52px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: distribute;
justify-content: space-around;
}
.rating_pop{
color: #0065FC;
}
.popular .pop_img {
width: 37%;
height: 119px;
-o-object-fit: cover;
object-fit: cover;
border-radius:3ex 0 0 3ex;
}
.soleil{
background-image: url("images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.eau{
background-image: url("images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.bleu{
background-image: url("images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.popular h2{
font-size: large;
font-weight: 900;
}
.cards_2 a:hover{
-webkit-box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
}
/*activities*/
#activities{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}
#activities h2{
font-size: large;
font-weight: 900;
}
.cards_3{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-pack: distribute;
justify-content: space-around;
padding: 36px 0 0 0;
height: 410px;
}
.act_1{
width: 25%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: 1em;
text-decoration: none;
color: black;
}
.act_4{
width: 25%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: 1em;
text-decoration: none;
color: black;
}
.act_2{
height: 53%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
text-decoration: none;
color: black;
}
.act_3{
height: 37%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
text-decoration: none;
color: black;
}
.act_5{
height: 44%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;

text-decoration: none;
color: black;
}
.act_6{
height: 48%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;

text-decoration: none;
color: black;
}
.small_card{
width: 25%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: 100%;
margin: 1em;
}

/*images*/

.vieuxport{
width: 100%;
height: 345px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
background-size: cover;
}
.calanques{
width: 100%;
height: 345px;
-o-object-fit: cover;
object-fit: cover;
padding:0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
background-size: cover;
}
.pomegue{
width: 100%;
height: 160px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
background-size: cover;
background-position: center;
}
.frioul{
width: 100%;
height: 97px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
background-size: cover;
background-position: center;
}
.ndgarde{
width: 100%;
height: 123px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
background-size: cover;
}
.longchamp{
width: 100%;
height: 136px;
-o-object-fit: cover;
object-fit: cover;
padding:    0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
background-size: cover;

}
/*titres*/


.cards_3 h3{
width: 90%;
padding: 20px 0 18px 17px;
font-size: medium;
font-weight: 900;
}
.cards_3 a:hover{
-webkit-box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
}


footer{
height: 193px;
background-color: #F2F2F2;
}
.links{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-pack: distribute;
justify-content: space-around;
padding: 0;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 193px;
}   

.links h2{
font-weight: 900;
font-size: 100%;
margin-bottom: 15px;
}
.links a {
text-decoration: none;
color: black;
}
.links a:hover {
font-weight: 900;
}
.links li{
margin-top: 15px;
}
.about{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;

}
.our_accommodations{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}
.help{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}








/*mobile*/

@media screen and (max-width: 768px){
body{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
header{
width: 100%;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin: 0;
}
.logo{
width: 50%;
height: 100%;
margin: 0;
padding-left: 0;
}

.menu{
width: 50%;
border-top: none;
border-bottom: solid 3px #0065FC;
padding-bottom: 13px;
padding-top: 39px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}
.menu:nth-child(2){
-webkit-box-ordinal-group: initial;
-ms-flex-order: initial;
order: initial;
border-bottom: none;
padding-top: 43px;
padding-bottom: 5px;
}
.menu:nth-child(4){
border-bottom: solid 3px #a7a5a5;
}
.nav_act{
color: black!important;
}
.menu a{
font-weight: 500;
font-size: 110%;
}
nav{
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
nav img{
padding-left: 20px;
}
.nav{
padding-left: 96px;
font-weight: 900!important;
}
main{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
padding: 0;
margin: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
}

.search_section{
height: 165px;
width: 100%;
margin-left: 0;
}
.search_section h1{
display: inline;
font-size: 17px;
font-weight: 900;
margin-top: 40px;
padding-left: 20px;
width: 70%;
}
.search_section p {
margin: 10px 0 10px 20px;
width: 95%;
font-size: 100%;
}

.search_bar {
width: 95%;
height: 51px;
margin-left: 20px;
}
.place{
background-color: #F2F2F2;
color: black;
text-align: center;
margin: 0;
padding: 14px 0;
font-size: 100%;
border-radius: 1.5ex 0 0 1.5ex;
width: 15.5%;
}
.search_desktop{
display: none;
}
.search_mobile{
display: inline-block;
}
.button{
display: block;
background-color: #0065FC;
color: white;
font-size: large;
font-weight: 900;
font-family: 'Raleway', sans-serif;
border-radius: 1.5ex;
margin-left: -6px;
padding: 17px;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
height: 51px;
width: 51px;
}
form{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
width: 100%;
}
.search{
font-size: 100%;
font-weight: 900;
color: black;   
font-family: 'Raleway', sans-serif;
margin: 0;
padding: 10px 5px 10px 5px;
width: 81.5%;
}

/*filters*/
.filters {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
margin: 0;
font-size: large;
font-weight: 900;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
}
.filters h2{
margin: 15px 20px;
}
.filters_icons{
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
width: 95%;
margin-left: 9px;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
text-align: left;
}

.infos {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin: 30px 0 10px 20px;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.infos p{
text-align: start;
}
.filter{
margin: 7.5px 0 7.5px 11px;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
}

#accommodations {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin: 30px 0;
}
.search_result{
width: 100%;
margin-right: 0;
padding: 0;
background-color: white;
border-radius: 0;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;

}
.search_result .acc_img {
width: 95%;
height: 115px;
-o-object-fit: cover;
object-fit: cover;
border-radius: 3ex 3ex 0 0;
}
.lacannebiere{
background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
padding: 3px;
background-size: cover;
}
.port{
background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
padding: 3px;
background-size: cover;
}
.mouettes{
background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
padding: 3px;
background-size: cover;
background-position: center;
}
.mer{
background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
padding: 3px;
background-size: cover;
background-position: center;
}
.panier{
background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
padding: 3px;
background-size: cover;
}
.amina{
background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
padding: 3px;
background-size: cover;
background-position: center;
}

.cards_1{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.row{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
margin: 6px 0;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.soleil{
background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.eau{
background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.bleu{
background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.acc{
width: 335px;
height: 200px;
margin: auto;
margin: 10px;
}
.more{
margin: 20px;
}
.header{
margin: 43px 20px 13px 20px;
}
.popular {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
width: 100%;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
margin-left: 0;
padding: 0;
background-color: #F2F2F2;
border-radius: 0;
height: 580px;
}
.pop{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row; 
width: 335px;
height: 144px;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
background-color: white;
border-radius:4ex;
-webkit-box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
text-decoration: none;
color: black;
font-size: 75%;
}
.cards_2{
margin: 0;
}
.search_result h2{
font-size: large;
font-weight: 900;
margin: 20px;
}
#activities{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.cards_3{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: distribute;
justify-content: space-around;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
padding: 0;
}

#activities h2{
margin: 20px;
}

.vieuxport{
width: 100%;
height: 135px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
background-size: cover;
background-position: center;
}
.pomegue{
width: 100%;
height: 135px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
background-size: cover;
background-position: center;
}
.frioul{
width: 100%;
height: 135px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
background-size: cover;
background-position: center;
}
.calanques{
width: 100%;
height: 135px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
background-size: cover;
background-position: center;
}
.ndgarde{
width: 100%;
height: 135px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
background-size: cover;
background-position: center;
}

.longchamp{
width: 100%;
height: 135px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
background-size: cover;
background-position: center;
}
.act_1{
width: 90%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
color: black;
}
.act_4{
width: 90%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
color: black;
}
.act_2{
width: 90%;
height: 90%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
text-decoration: none;
color: black;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
}
.act_3{
width: 90%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
text-decoration: none;
color: black;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
}
.act_5{
height: 100%;
width: 90%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
color: black;
}
.act_6{
height: 100%;
width: 90%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
color: black;
}
.small_card{
width: 100%;
-ms-flex-pack: distribute;
justify-content: space-around;
height: auto;
margin: 0;
}

footer{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.links{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: distribute;
justify-content: space-around;
padding: 0;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin-left: 0px;
}   

.about{
margin: 20px;
}
.our_accommodations{
margin: 20px;
}
.help{
margin: 20px;
}

}







/*tablette*/
@media screen and (max-width: 1024px) and (min-width: 768px)
{
body{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
header{
width: 100%;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin: 0;
}
.logo{
width: 50%;
height: 100%;
margin: 0;
padding-left: 0;
}

.menu{
width: 50%;
border-top: none;
border-bottom: solid 3px #0065FC;
padding-bottom: 13px;
padding-top: 39px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}
.menu:nth-child(2){
-webkit-box-ordinal-group: initial;
-ms-flex-order: initial;
order: initial;
border-bottom: none;
padding-top: 43px;
padding-bottom: 5px;
}
.menu:nth-child(4){
border-bottom: solid 3px #a7a5a5;
}
.nav_act{
color: black!important;
}
.menu a{
font-weight: 500;
font-size: 110%;
}
nav{
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
nav img{
padding-left: 20px;
}
.nav{
padding-left: 96px;
font-weight: 900!important;
}
main{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
padding: 0;
margin: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
}

.search_section{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
width: 100%;
margin-left: 0;
}
.search_section h1{
display: inline;
font-size: 150%;
font-weight: 900;
margin: 20px 0;
padding-left: 40px;
}
.search_section p {
margin: 20px 0 20px 40px;
width: 95%;
font-size: 120%;
}

.search_bar {
width: 95%;
height: 51px;
margin-left: 40px;
}
.search_field{
width: 70%;
}
.place{
background-color: #F2F2F2;
color: black;
text-align: center;
margin: 0;
padding: 14px 0;
font-size: 100%;
border-radius: 1.5ex 0 0 1.5ex;
width: 15.5%;
}
.button_1{
display: none;
}
.button_2{
display: block;
background-color: #0065FC;
color: white;
font-size: large;
font-weight: 900;
font-family: 'Raleway', sans-serif;
border-radius: 1.5ex;
margin-left: -6px;
padding: 17px;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
height: 51px;
width: 51px;
}
form{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
width: 100%;
}
.search{
font-size: 100%;
font-weight: 900;
color: black;   
font-family: 'Raleway', sans-serif;
margin: 0;
padding: 10px 5px 10px 5px;
width: 81.5%;
}

/*filters*/
.filters {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
margin: 0;
font-size: large;
font-weight: 900;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
}
.filters h2{
margin: 30px 40px;
}
.filters_icons{
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
width: 95%;
margin-left: 20px;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
text-align: left;
}

.infos {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin: 30px 0 10px 20px;
height: 22px;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.infos p{
text-align: start;
}
.filter{
margin: 7.5px 0 7.5px 20px;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
}

#accommodations {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin: 30px 0;
}
.search_result{
width: 100%;
margin-right: 0;
padding: 0;
background-color: white;
border-radius: 0;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
background-color: #F2F2F2;
margin: 10px 0;
border-radius: 3ex;
}
.search_result .acc_img {
height: 100px;
-o-object-fit: cover;
object-fit: cover;
border-radius: 3ex 3ex 0 0;
padding: 0;
}
.lacannebiere{
background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
background-size: cover;
margin: 5px;
}
.port{
background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
background-size: cover;
margin: 5px;
}
.mouettes{
background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
background-size: cover;
background-position: center;
margin: 5px;
}
.mer{
background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
background-size: cover;
background-position: center;
margin: 5px;
}
.panier{
background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
background-size: cover;
margin: 5px;
}
.amina{
background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
background-size: cover;
background-position: center;
margin: 5px;
}
.search_result h2 {
font-size: large;
font-weight: 900;
margin: 40px;
}
.cards_1{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.row{
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
margin: 6px 10px 0 10px;
}

.more{
margin: 40px;
font-size: 150%;
}
.header{
margin: 43px 450px 13px 40px;
}
.popular {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
width: 100%;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
margin-left: 0;
padding: 0;
background-color: #F2F2F2;
border-radius: 3ex;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin-bottom: 10px;
}
.pop{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row; 
width: 335px;
height: 129px;
margin: 20px;
background-color: white;
border-radius:4ex;
-webkit-box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
text-decoration: none;
color: black;
font-size: 75%;
}
.popular .pop_img{
height: auto;
}
.soleil{
background-image: url("images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.eau{
background-image: url("images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.bleu{
background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
margin: 5px;
background-size: cover;
background-position: center;
}
.cards_2{
margin: 0;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}

#activities{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}

#activities h2{
font-size: large;
font-weight: 900;
margin-left: 40px;
}
#activities a{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.cards_3 h3{
padding: 13px;
padding-right: 0;
}
.cards_3{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-pack: distribute;
justify-content: space-around;
padding: 0;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin: 20px;
}
.act_1{
width: 25%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: 5px;
text-decoration: none;
color: black;
}
.act_4{
width: 25%;
height: 100%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
margin: 5px;
text-decoration: none;
color: black;
}
.act_2{
height: 53%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
text-decoration: none;
color: black;
width: 100%;
margin: 0;
}
.act_3{
height: 37%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
text-decoration: none;
color: black;
width: 100%;
margin: 0;
}
.act_5{
height: 44%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
width: 100%;
text-decoration: none;
color: black;
margin: 0;
}
.act_6{
height: 48%;
-webkit-box-shadow: 5px 5px 5px 1px #F2F2F2;
box-shadow: 5px 5px 5px 1px #F2F2F2;
border-radius: 3ex;
width: 100%;
text-decoration: none;
color: black;
margin: 0;
}
.small_card{
width: 25%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
height: 400px;
margin: 5px;
}

/*images*/

.vieuxport{
width: 100%;
height: 345px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
background-size: cover;
background-position: center;
}
.calanques{
width: 100%;
height: 345px;
-o-object-fit: cover;
object-fit: cover;
padding:0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
background-size: cover;
background-position: center;
}
.pomegue{
width: 100%;
height: 160px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
background-size: cover;
background-position: center;
}
.frioul{
width: 100%;
height: 97px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
background-size: cover;
background-position: center;
}
.ndgarde{
width: 100%;
height: 123px;
-o-object-fit: cover;
object-fit: cover;
padding: 0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
background-size: cover;
background-position: center;
}
.longchamp{
width: 100%;
height: 136px;
-o-object-fit: cover;
object-fit: cover;
padding:    0;
margin: 0;
border-radius: 3ex 3ex 0 0;
background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
background-size: cover;
background-position: center;
}


footer{
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
}
.links{
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-pack: distribute;
justify-content: space-around;
padding: 0;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin: 40px;
margin-left: 0px;
}   

.about{
margin: 20px;
}
.our_accommodations{
margin: 20px;
}
.help{
margin: 20px;
}

}






