body{
    font-family: 'Raleway', sans-serif;
}
/* header*/

.header_1 {
    display: flex;
    flex-direction: row;
    height: 5.7%;
}
.header_2{
    display: none;
}
.logo{
   width: 66%; 
   padding: 40px 0 36px 70px;
}
nav{
    width: 33%;
    margin-bottom: 0;
    padding: 40px 70px 36px 0 ;
}
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        nav a{
            text-decoration: none;
            color: #0065FC;
            font-weight: 700;
            border-top: solid 3px #0065FC;
            padding-top: 35px;
        }
            nav a:hover{
                color: black;
                border-top: none;
            }

            @media screen and (max-width: 1024px) {
                .header_1{
                    display:none;
                }
                .header_2{
                    display: flex;
                    flex-direction: column;
                }
                .en_tete{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .login{
                    width: 50%;
                    padding: 40px 70px 36px 0 ;
                    text-align: end;
                    font-size: 200%;
                }
                .logo{
                    width: 50%;
                    height: 50%;
                    font-size: xx-large;
                }
                a.nav{
                    text-decoration: none;
                    color: #0065FC;
                    font-weight: 700;
                }
                nav{
                    width: 100%; 
                    padding: 0;
                }
                nav ul{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    font-size: 200%;
                    padding: 35px 0;
                }
                nav ul li{
                    padding-right: 20px;
                    text-decoration: none;
                    color: #0065FC;
                    font-weight: 700;
                    border-bottom: solid 3px #0065FC;
                    padding: 5% 16%;
                    border-top: none;
                }
                a.nav_act{
                    border-top: none;
                    margin: auto;
                }
                a.nav_acc{
                    border-top: none;
                    margin: auto;
                }

            }

.main {
    display: flex;
    flex-direction: column;
    height: 83%;
    padding: 0 35px 0 35px;
}
    /*search section*/
    .search_section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
        .search_section h1 {
            font-weight: 900;
            font-size: large;
            margin: 10px 0 5px 0;
            width: 43%;
        }
        .search_section p {
            margin: 5px 0 10px 0;
            width: 22.4%;
            font-size: small;
        }
        .search_bar {
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin: 10px 0;
            width: 33%;
        }
            .icon{
                background-color: #F2F2F2;
                color: black;
                text-align: center;
                margin: 0;
                padding: 10px 0;
                font-size: x-large;
               border-radius: 1.5ex 0 0 1.5ex;
                width: 12.5%;
            }
            .button{
                background-color: #0065FC;
                color: white;
                font-size: large;
                font-weight: 900;
                font-family: 'Raleway', sans-serif;
                border-radius: 0 1.5ex 1.5ex 0;
                margin: auto;
                padding: 10px 23px 10px 26px;
                width: 45%;
                border: none;
                box-shadow: none;
            }
            .search{

                font-size: large;
                font-weight: 900;
                color: black;   
                font-family: 'Raleway', sans-serif;
                margin: auto;
                padding: 10px 0 10px 5px;
                width: 50%;
            }
            .button:hover{
                background-color: #DEEBFF;
                color:#0065FC;
                cursor: pointer;
            }
            form{
                width: 100%;
            }
    /*filters*/
    .filters {
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px ;
        font-size: large;
        font-weight: 900;
    }

        .filter {
            display: flex;
            flex-direction: row;
            margin: 15px 20px 15px 29px;
            border: solid 3px #F2F2F2  ;
            border-radius: 2em;

        }
            .filters h1 {
                padding: 15px 20px 15px 29px;
                margin-left: -44px;
                font-size: large;
                font-weight: 900;
            }
            .filter i{
                padding: 12px;
                margin: -2px;
                font-size: large;
                background-color: #DEEBFF;
                color: #0065FC;
                border-radius: 2em;
            }
            .filter p{
                padding: 11px 11px;
            }
            .filter:hover{
                background-color: #DEEBFF;
                cursor: pointer;
            }
    /*infos*/
    .infos {
        display: flex;
        flex-direction: row;
        margin: 10px 0 30px 0;
    }
    /*accomodations*/
    #accommodations {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 35.8%;
    }
        .search_result{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 62.5%;
            margin: 0 12.5px 40px 0;
            padding: 3% 3% 3% 3%;
            background-color: #F2F2F2;
            border-radius: 4ex;
        }
            .cards_1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 0 60px 0;
                height: 69%;
            }
            .row_1{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .row_2{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
            }
                .acc{
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    height: 100%;
                    margin: 3px;
                    background-color: white;
                    border-radius: 4ex;
                    box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
                    text-decoration: none;
                    color: black;
                }
                    .acc h2{
                        font-size: medium;
                        font-weight: 900;
                    }
                    .acc_text{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin-left: 22px;
                    }
                    .cards_1 a:hover{
                        box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
                    }

                        .search_result img {
                            width: 95%;
                            height: 152px;
                            object-fit: cover;
                            border-radius: 4ex 4ex 0 0;
                            padding: 5px;

                            
                        }
                        .search_result h1 {
                            font-size: large;
                            font-weight: 900;
                        }
                        .more a{
                            text-decoration: none;
                            font-weight: 900;
                            font-size: medium;
                            color: black;
                        }
                        .more a:hover{
                            color: #0065FC;
                        }
                        .acc h2 p .rating{
                            padding-left: 22px;
                        }
                        .rating_acc{
                            color: #0065FC;
                            margin-top: 5px;
                        }

                        .acc_text p{
                            margin: 5px 0;
                        }

        .popular {
            display: flex;
            flex-direction: column;
            width: 30.5%;
            justify-content: space-between;
            margin: 0 0 40px 12.5px;
            padding: 3% 3% 3% 3%;
            background-color: #F2F2F2;
            border-radius: 4ex;
        }
            .cards_2 {
                display: flex;
                flex-direction: column;
                align-content: space-between;
            }
                .header{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .pop{
                    display: flex;
                    flex-direction: row; 
                    width: 100%;
                    height: 193px;
                    margin: 20px 0 20px 0;
                    background-color: white;
                    border-radius:4ex;
                    box-shadow: 5px 5px 5px 0.5px rgb(219, 218, 218);
                    text-decoration: none;
                    color: black;
                }
                    .pop h2{
                        font-size: medium;
                        font-weight: 900;
                    } 
                    .rating_pop{
                        color: #0065FC;
                        margin-top: 29%;
                    }
                          .popular img {
                            width: 37%;
                            height: 95%;
                            object-fit: cover;
                            padding: 5px;
                            border-radius:4ex 0 0 4ex;
                        }
                        .popular h1{
                            font-size: large;
                            font-weight: 900;
                        }
                    .pop_text{
                        margin: 13% 0 10% 8.5%;
                    }
                    .cards_2 a:hover{
                        box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
                    }
    /*activities*/
    #activities{
        display: flex;
        flex-direction: column;
    }
    #activities h1{
        font-size: large;
        font-weight: 900;
    }
        .cards_3{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 36px 0 80px 0;
        }
            .act_1{
                width: 25%;
                height: 100%;
                box-shadow: 5px 5px 5px 1px #F2F2F2;
                border-radius: 1.5cm;
                margin: 1em;
                text-decoration: none;
                color: black;
            }
            .act_4{
                width: 25%;
                height: 100%;
                box-shadow: 5px 5px 5px 1px #F2F2F2;
                border-radius: 1.5cm;
                margin: 1em;
                text-decoration: none;
                color: black;
            }
            .act_2{
                height: 53%;
                box-shadow: 5px 5px 5px 1px #F2F2F2;
                border-radius: 1cm;
                margin: 1em;
                text-decoration: none;
                color: black;
            }
            .act_3{
                height: 37%;
                box-shadow: 5px 5px 5px 1px #F2F2F2;
                border-radius: 1cm;
                margin: 1em;
                text-decoration: none;
                color: black;
            }
            .act_5{
                height: 44%;
                box-shadow: 5px 5px 5px 1px #F2F2F2;
                border-radius: 1cm;
                margin: 1em;
                text-decoration: none;
                color: black;
            }
            .act_6{
                height: 48%;
                box-shadow: 5px 5px 5px 1px #F2F2F2;
                border-radius: 1cm;
                margin: 1em;
                text-decoration: none;
                color: black;
            }
            .small_card_1{
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: max-content;
            }
            .small_card_2{
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }


            /*images*/

                .act_1 img{
                    width: 100%;
                    height: 520px;
                    object-fit: cover;
                    padding: 0;
                    margin: 0;
                    border-radius: 1.5cm 1.5cm 0 0;
                }
                .act_4 img{
                    width: 100%;
                    height: 520px;
                    object-fit: cover;
                    padding:0;
                    margin: 0;
                    border-radius: 1.5cm 1.5cm 0 0;
                }
                .act_2 img{
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    padding: 0;
                    margin: 0;
                    border-radius: 1cm 1cm 0 0;
                }
                .act_3 img{
                    width: 100%;
                    height: 146px;
                    object-fit: cover;
                    padding: 0;
                    margin: 0;
                    border-radius: 1cm 1cm 0 0;
                }
                .act_5 img{
                    width: 100%;
                    height: 187px;
                    object-fit: cover;
                    padding: 0;
                    margin: 0;
                    border-radius: 1cm 1cm 0 0;
                }
                .act_6 img{
                    width: 100%;
                    height: 204px;
                    object-fit: cover;
                    padding:    0;
                    margin: 0;
                    border-radius: 1cm 1cm 0 0;
                }
                /*titres*/


                .cards_3 h2{
                    width: 100%;
                    padding: 30px 0 27px 26px;
                    font-size: medium;
                    font-weight: 900;
                }
                .cards_3 a:hover{
                    box-shadow: 2px 2px 5px 3px rgba(128, 127, 127, 0.671);
                }


    footer{
        height: 9.5%;
        background-color: #F2F2F2;

    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 64px 0 72px 67px;
        
    }   

    .links h2{
        font-weight: 900;
        font-size: small;
        margin-bottom: 15px;
    }
    .links a {
        text-decoration: none;
        color: black;
    }
    .links a:hover {
     font-weight: 900;
    }
    .links li{
        margin-top: 15px;
    }
    .about{
        display: flex;
        flex-direction: column;
        
    }
    .our_accommodations{
        display: flex;
        flex-direction: column;
    }
    .help{
        display: flex;
        flex-direction: column;
    }

